.lead__map {
  margin: 64px auto 60px;
  max-width: 984px;
}

@media screen and (max-width: 1279px) {
  .lead__map {
    max-width: 928px;
    margin-top: 52px;
  }
}

@media screen and (max-width: 767px) {
  .lead__map {
    margin-top: 36px;
    margin-bottom: 32px;
  }
}
